h3
{
	font-family:fantasy; 
	font-size:150%;
}

img
{
	border-color : black; 
	border-width : medium;
	border-style : solid;
	border-collapse:collapse;
	padding : 1% ;
	margin : 2% ;
}
p
{
font-family:georgia,serif;
}

.navbar
{
	background-color:white;
	color:black;
	list-style:none;
	text-align:right;
	padding:20px 0 0 0;
}

.navbar>li
{
	display:inline-block;
	padding-right:50px;
}

.navbar>li>a
{
	text-decoration:none;
	color:black;
	font-weight: bold;
}

.banner
{
	width:100%;
	display:block;
}

.banner>.banner-image
{
	width:100%;
	display:block;
	padding : 0% ;
	margin : 0% ;
}