body
{
	margin:0;
	padding:0;
	background-image: url("background.jpg");
}

h2>a
{
	text-decoration:none;
	color:black;
}

h2{
	font-family:"Arial", serif; 
	font-size:150%;
	text-align:center;
}

img
{
	border-color : black; 
	border-width : medium;
	border-style : solid;
	border-collapse:collapse;
	padding : 1% ;
	margin : 2% ;
	display:block;
}

.wrap-right
{
	float:right;
	margin:4px;
}

.wrap-left
{
	float:left;
	margin:4px;
}

p
{
font-family:georgia,serif;
}

.logo
{
	font-size:150%;
	font-weight:bold;
	color:black;
	float:left;
	padding-left:25px;
	font-family: "Vivaldi", serif;
}

.navbar1
{
	background-color:lightblue;
	color:white;
	list-style:none;
	text-align:center;
	padding:20px 0 20px 0;
}

.navbar1>li
{
	display:inline-block;
	padding-right:50px;
}

.navbar1>li>a
{
	text-decoration:none;
	color:black;
	font-weight: bold;
}

.navbar
{
	color:black;
	list-style:none;
	text-align:right;
	padding:20px 0 0 0;
}

.navbar>li
{
	display:inline-block;
	padding-right:50px;
}

.navbar>li>a
{
	text-decoration:none;
	color:black;
	font-weight: bold;
}