body
{
	/*Lets the navigation bar stretch to both ends of the screen*/
	margin:0;
	padding:0;
	/*Puts background image on the website*/
	background-image: url("background.jpg");
}

h2>a
{
	/*Gets ride of line under link and makes it black*/
	text-decoration:none;
	color:black;
}

h2
{
	font-family:"Arial", serif; 
	font-size:150%;
	text-align:center;
}

img
{
	border-color : black; 
	border-width : medium;
	border-style : solid;
	border-collapse:collapse;
	padding : 1% ;
	margin : 2% ;
	display:block;
}

p
{
font-family:georgia,serif;
}

/*Puts a logo at the top left-side of the website*/
.logo
{
	font-size:150%;
	font-weight:bold;
	color:black;
	float:left;
	padding-left:25px;
	font-family: "Vivaldi", serif;
}

.navbar1
{
	/*Lets blue stretch across the screen*/
	background-color:lightblue;
	/*Gets rid of numbers/bullet points*/
	list-style:none;
	/*Aligns text to the right*/
	text-align:right;
	/*Stretches the padding above and below the navigation bar*/
	padding:20px 0 20px 0;
}

.navbar1>li
{
	/*Elements sit next to each other*/
	display:inline-block;
	/*Spaces the padding of the element 50 pixels to the right*/
	padding-right:50px;
}

.navbar1>li>a
{
	/*Gets ride of the line under the font*/
	text-decoration:none;
	/*Makes the elements in the navigation bar black*/
	color:black;
	/*Makes the elements bold*/
	font-weight: bold;
}

/*Makes a second navigation bar under the first one whith internal links*/
.navbar
{
	color:black;
	list-style:none;
	text-align:right;
	padding:20px 0 0 0;
}

.navbar>li
{
	display:inline-block;
	padding-right:50px;
}

.navbar>li>a
{
	text-decoration:none;
	color:black;
	font-weight: bold;
}