body
{
	margin:0;
	padding:0;
	background-image: url("background.jpg");
}

.service1
{
	width:298px;
	border: 1px solid;
	float:left;
	padding :0 5px ;
	margin : 20px 10px ;
}
.service1>p
{
	font-size:14px;
	color:gray;
	max-width:250px;
}

.services
{
	width:1000px;
	margin:0 auto;
}

h1
{
	font-size:16px;
	font-weight:bold;
	background-color:gray;
	color:white;
	padding:10px 0;
	margin:0 -6px;
}

.image
{
	max-width:200px;
	margin:15px 0 0 0;
}

.heading
{
	text-align:center;
	font-size:25px;
	color:gray;
	margin:10px 0 50px 0;
}

.logo
{
	font-size:150%;
	font-weight:bold;
	color:black;
	float:left;
	padding-left:25px;
	font-family: "Vivaldi", serif;
}

.navbar
{
	color:black;
	list-style:none;
	text-align:right;
	padding:20px 0 0 0;
}

.navbar>li
{
	display:inline-block;
	padding-right:50px;
}

.navbar>li>a
{
	text-decoration:none;
	color:black;
	font-weight: bold;
}

.banner
{
	width:100%;
	display: block;
}

.banner>.banner-image
{
	width:100%;
	display: block;
}