body
{
	/*Lets the navigation bar stretch to both ends of the screen*/
	margin:0;
	padding:0;
	/*Puts background image on the website*/
	background-image: url("background.jpg");
}

.service1
{
	width:298px;
	border: 1px solid;
	float:left;
	padding :0 5px ;
	margin : 20px 10px ;
}

/*Formats paragraph*/
.service1>p
{
	font-size:14px;
	color:gray;
	max-width:250px;
}

/*Moves the service boxes to the center ands sets width of element*/
.services
{
	width:1000px;
	margin:0 auto;
}

h1
{
	/*Formats the service box headings*/
	font-size:16px;
	font-weight:bold;
	background-color:gray;
	color:white;
	padding:10px 0;
	margin:0 -6px;
}



.heading
{
	/*Formats the service heading over the service boxes*/
	text-align:center;
	font-size:25px;
	color:gray;
	margin:10px 0 50px 0;
}

/*Puts a logo at the side of the website*/
.logo
{
	font-size:150%;
	font-weight:bold;
	color:black;
	float:left;
	padding-left:25px;
	font-family: "Vivaldi", serif;
}

.navbar
{
	/*Lets blue stretch across the screen*/
	background-color:lightblue;
	/*Gets rid of numbers/bullet points*/
	list-style:none;
	/*Aligns text to the right*/
	text-align:right;
	/*Stretches the padding above and below the navigation bar*/
	padding:20px 0 20px 0;
}

.navbar>li
{
	/*Elements sit next to each other*/
	display:inline-block;
	/*Spaces the padding of the element 50 pixels to the right*/
	padding-right:50px;
}

.navbar>li>a
{
	/*Gets ride of the line under the font*/
	text-decoration:none;
	/*Makes the elements in the navigation bar black*/
	color:black;
	/*Makes the elements bold*/
	font-weight: bold;
}

.banner
{
	width:100%;
	display: block;
}

.banner>.banner-image
{
	width:100%;
	display: block;
}